*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #E5E5E5;
}

.wrapper{
    width: 100%;
}

.intro-box{
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    height: auto;
    padding-left: 30px;
    padding-right: 30px;
    // background-image: url("images/intro/intro-background.png");
    // background-size: 100% 100%;
    background-color: white;
}

.intro-subj-box{
    width: 70%;
    padding: 30px 0px 20px 0px;
    text-align: left;
}

#intro-subj-1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 123.6%;

    line-height: 59px;
    letter-spacing: 0em;
    text-align: left;

    color: #2B2B2B;
}

#intro-subj-2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 123.6%;

    line-height: 59px;
    letter-spacing: 0em;
    text-align: left;

    color: #FFB400;
}

#intro-subj-3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 123.6%;

    line-height: 59px;
    letter-spacing: 0em;
    text-align: left;

    color: #2B2B2B;
}

#intro-desc{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    font-feature-settings: 'calt' off, 'kern' off;
    color: #767676;
    padding-bottom: 30px;
}

#intro-pic{
    width: 30%;
    float: right;
    display: none;
}

#intro-pic-2{
    display: block;
    width: 30%;
    float: right;
}

#intro-button{
    float: left;
}

#intro-pic-2-div{
    display: block;
    float: right;
}

button {
    border: none;
    color: black;
    background-color: #FFB400;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    cursor: pointer;

    font-family: Inter;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
  }

  #yellow-circle{
    // padding-left: 40px;
    // padding-top: 34.17;
    margin-left: 40px;
    margin-top: 34.17;
  }

  @media only screen and (min-width: 768px){ // for tablet
        
    .intro-box{
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .intro-subj-box{
        width: 65%;
        padding-top: 30px;
        text-align: left;
        float: left;
    }

    #intro-subj-1{
        font-size: 50px;
    }
    
    #intro-subj-2{
        font-size: 50px;
    }
    
    #intro-subj-3{
        font-size: 50px;
    }
    
    #intro-desc{
        padding-top: 15px;
        width: 65%;
        //styleName: H6 - 16px;
        font-size: 30px;
        line-height: 34px;
    }

    #intro-pic{
        height: auto;
        width: 35%;
        float: right;
        display: block;
    }

    #intro-pic-div{
        display: block;
    }
    
    #intro-pic-2{
        display: none;
    }
    
    #button-and-pic2{
        float: left;
    }

    #intro-pic-2-div{
        float: right;
        display: block;
        height: auto;
        width: 80%;
        display: none;
    }
    
    #intro-button{
        float: left;
    }

    button {
        letter-spacing: 0em;
    }
    
    #yellow-circle{
        // padding-left: 40px;
        // padding-top: 34.17;
        margin-left: 40px;
        margin-top: 34.17;
    }

  }


  @media only screen and (min-width: 1000px){ // for tablet
        
    .intro-box{
        background-image: url("images/intro/intro-background.png");
        background-size: 100% 100%;
        // background-color: white;
    }

    .intro-subj-box{
        width: 65%;
        padding: 100px 0px 20px 0px;
        text-align: left;
        float: left;
    }

    #intro-subj-1{
        font-family: Inter;
        font-style: bold;
        font-size: 55px;
        vertical-align: top;
        font-weight: 700;
        letter-spacing: 0em;
        text-align: left;
        color: #2B2B2B;
    }
    
    #intro-subj-2{
        font-family: Inter;
        font-style: bold;
        font-size: 55px;
        vertical-align: top;
        font-weight: 700;
        letter-spacing: 0em;
        text-align: left;
        color: #FFB400;
    }
    
    #intro-subj-3{
        font-family: Inter;
        font-style: bold;
        font-size: 55px;
        vertical-align: top;
        font-weight: 700;
        letter-spacing: 0em;
        text-align: left;
        color: #2B2B2B;
    }
    
    #intro-desc{
        padding-top: 15px;
        padding-bottom: 50px;
        width: 65%;
        //styleName: H6 - 16px;
        font-family: Inter;
        font-size: 40px;
        font-weight: 400;
        line-height: 50px;
        letter-spacing: 0em;
        text-align: left;
        vertical-align: top;
        color: #767676;
        float: left;
    }

    #intro-pic{
        height: auto;
        width: 35%;
        float: right;
        display: block;
    }

    #intro-pic-div{
        display: block;
    }
    
    #intro-pic-2{
        height: auto;
        width: 35%;
        float: right;
        display: none;
    }
    
    #button-and-pic2{
        float: left;
    }

    #intro-pic-2-div{
        float: right;
        display: block;
        height: auto;
        width: 80%;
        display: none;
    }
    
    #intro-button{
        float: left;
        // padding-left: 10%;
    }

    button {
        border: none;
        color: black;
        background-color: #FFB400;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
        cursor: pointer;
    
        font-family: Inter;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: 0em;
      }
    
      #yellow-circle{
        // padding-left: 40px;
        // padding-top: 34.17;
        margin-left: 40px;
        margin-top: 34.17;
      }

  }