* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #E5E5E5;
}

.wrapper {
  width: 100%;
}

.intro-box {
  float: left;
  margin-top: 10px;
  margin-bottom: 50px;
  margin-left: 10px;
  margin-right: 10px;
  height: auto;
  padding-left: 30px;
  padding-right: 30px;
  background-color: white;
}

.intro-subj-box {
  width: 70%;
  padding: 30px 0px 20px 0px;
  text-align: left;
}

#intro-subj-1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 123.6%;
  line-height: 59px;
  letter-spacing: 0em;
  text-align: left;
  color: #2B2B2B;
}

#intro-subj-2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 123.6%;
  line-height: 59px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFB400;
}

#intro-subj-3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 123.6%;
  line-height: 59px;
  letter-spacing: 0em;
  text-align: left;
  color: #2B2B2B;
}

#intro-desc {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  font-feature-settings: "calt" off, "kern" off;
  color: #767676;
  padding-bottom: 30px;
}

#intro-pic {
  width: 30%;
  float: right;
  display: none;
}

#intro-pic-2 {
  display: block;
  width: 30%;
  float: right;
}

#intro-button {
  float: left;
}

#intro-pic-2-div {
  display: block;
  float: right;
}

button {
  border: none;
  color: black;
  background-color: #FFB400;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: Inter;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
}

.part {
  padding-top: 70px;
  padding-right: 20px;
  padding-left: 20px;
}

.part-subj {
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 123.6%;
  text-transform: capitalize;
  color: #2B2B2B;
}

.part-desc {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  text-transform: capitalize;
  font-feature-settings: "calt" off, "kern" off;
  color: #767676;
}

.small-box {
  background-image: url("./images/services/Rectangle.png");
  margin: 10px 10px 10px 10px;
  padding: 35px 30px 35px 30px;
  text-align: center;
}

.small-box-subj {
  padding-top: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 123.6%;
  text-transform: capitalize;
  color: #2B2B2B;
}

.small-box-desc {
  padding: 20px 0px 20px 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  text-transform: capitalize;
  font-feature-settings: "calt" off, "kern" off;
  color: #767676;
}

.small-box-yellow {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  text-align: center;
  text-transform: capitalize;
  font-feature-settings: "calt" off, "kern" off;
  color: #FFB400;
}

.experience-box {
  float: none;
  background-image: url("./images/education/Rectangle.png");
  text-align: center;
  padding: 20px 20px 20px 20px;
  margin: 10px 10px 10px 10px;
}

.education-left {
  padding: 0px 30px 0px 30px;
}

.education-left-p1 {
  float: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 123.6%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-transform: capitalize;
  color: #2B2B2B;
}

.education-left-p2 {
  float: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  text-transform: capitalize;
  font-feature-settings: "calt" off, "kern" off;
  float: left;
  color: #2B2B2B;
}

.education-left-timebox {
  background-color: #FFB400;
  border-radius: 1px;
  margin: 0px 0px 0px 0px;
  padding: 0px 10px 0px 10px;
  float: right;
}

.education-left-p3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 100.9%;
  color: #FFFFFF;
}

.education-right {
  padding-top: 30px;
}

.education-right-p1 {
  padding: 0px 30px 0px 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 123.6%;
  text-align: left;
  text-transform: capitalize;
  color: #2B2B2B;
}

.education-right-p2 {
  padding: 0px 30px 20px 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: left;
  text-transform: capitalize;
  font-feature-settings: "calt" off, "kern" off;
  float: none;
  color: #767676;
}

.gray-line {
  color: #F0F0F6;
}

@media only screen and (min-width: 768px) {
  .intro-box {
    margin-top: 20px;
    margin-bottom: 100px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .intro-subj-box {
    width: 65%;
    padding-top: 30px;
    text-align: left;
    float: left;
  }
  #intro-subj-1 {
    font-size: 50px;
  }
  #intro-subj-2 {
    font-size: 50px;
  }
  #intro-subj-3 {
    font-size: 50px;
  }
  #intro-desc {
    padding-top: 15px;
    width: 65%;
    font-size: 30px;
    line-height: 34px;
  }
  #intro-pic {
    height: auto;
    width: 35%;
    float: right;
    display: block;
  }
  #intro-pic-div {
    display: block;
  }
  #intro-pic-2 {
    display: none;
  }
  #button-and-pic2 {
    float: left;
  }
  #intro-pic-2-div {
    float: right;
    display: block;
    height: auto;
    width: 80%;
    display: none;
  }
  #intro-button {
    float: left;
  }
  button {
    letter-spacing: 0em;
  }
  .part {
    padding-left: 200px;
    padding-right: 200px;
  }
  .services-box {
    width: 100%;
    height: auto;
    text-align: center;
  }
  .small-box {
    background-image: url("./images/services/Rectangle.png");
    margin: 20px 20px 20px 20px;
    padding: 35px 30px 35px 30px;
    text-align: center;
  }
  .experience-box {
    margin: 20px 20px 20px 20px;
  }
  .education-left-p1 {
    font-size: 24px;
    padding-bottom: 20px;
  }
  .education-left-p2 {
    font-size: 20px;
    text-align: left;
    padding: 0px 30px 0px 0px;
    float: left;
  }
  .education-left-timebox {
    float: left;
    background-color: #FFB400;
    border-radius: 1px;
    margin: 0px 30% 0px 30%;
  }
  .education-left-p3 {
    padding: 5px 15px 5px 15px;
  }
  .education-right {
    padding-top: 30px;
    padding-bottom: 10px;
  }
  .education-right-p1 {
    padding: 20px 30px 20px 30px;
    font-size: 20px;
  }
  .education-right-p2 {
    font-size: 18px;
    padding: 0px 30px 20px 30px;
  }
}
@media only screen and (min-width: 1000px) {
  .intro-box {
    background-image: url("images/intro/intro-background.png");
    background-size: 100% 100%;
  }
  .intro-subj-box {
    width: 65%;
    padding: 100px 0px 20px 0px;
    text-align: left;
    float: left;
  }
  #intro-subj-1 {
    font-family: Inter;
    font-style: bold;
    font-size: 55px;
    vertical-align: top;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
    color: #2B2B2B;
  }
  #intro-subj-2 {
    font-family: Inter;
    font-style: bold;
    font-size: 55px;
    vertical-align: top;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
    color: #FFB400;
  }
  #intro-subj-3 {
    font-family: Inter;
    font-style: bold;
    font-size: 55px;
    vertical-align: top;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
    color: #2B2B2B;
  }
  #intro-desc {
    padding-top: 15px;
    padding-bottom: 50px;
    width: 65%;
    font-family: Inter;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    vertical-align: top;
    color: #767676;
    float: left;
  }
  #intro-pic {
    height: auto;
    width: 35%;
    float: right;
    display: block;
  }
  #intro-pic-div {
    display: block;
  }
  #intro-pic-2 {
    height: auto;
    width: 35%;
    float: right;
    display: none;
  }
  #button-and-pic2 {
    float: left;
  }
  #intro-pic-2-div {
    float: right;
    display: block;
    height: auto;
    width: 80%;
    display: none;
  }
  #intro-button {
    float: left;
  }
  button {
    border: none;
    color: black;
    background-color: #FFB400;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: Inter;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
  }
  #yellow-circle {
    margin-left: 40px;
    margin-top: 34.17;
  }
  .part {
    padding-left: 300px;
    padding-right: 300px;
  }
  .services-box {
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
  }
  .small-box {
    background-image: url("./images/services/Rectangle.png");
    width: 27%;
    margin: 20px 10px 20px 10px;
    padding: 35px 30px 35px 30px;
    text-align: center;
  }
  .experience-box {
    float: left;
    margin: 20px 20px 150px 20px;
  }
  .ex-left-right {
    padding: 30px 30px 30px 30px;
    float: left;
  }
  .education-left {
    padding: 0px 10px 0px 10px;
    float: left;
    width: 30%;
  }
  .education-left-p1 {
    font-size: 24px;
    padding-top: 0px;
    padding-bottom: 50px;
    text-align: left;
  }
  .education-left-p2 {
    font-size: 20px;
    text-align: left;
    float: left;
    padding: 0px 0px 0px 0px;
  }
  .education-left-timebox {
    background-color: #FFB400;
    border-radius: 1px;
    float: right;
    margin: 0px 0% 0px 0%;
  }
  .education-left-p3 {
    padding: 5px 15px 5px 15px;
    text-align: center;
    font-size: 15px;
  }
  .education-right {
    width: 60%;
    padding-top: 0px;
    padding-bottom: 10px;
    float: right;
  }
  .education-right-p1 {
    font-size: 24px;
    padding: 0px 30px 30px 30px;
  }
  .education-right-p2 {
    padding: 0px 30px 0px 30px;
  }
}/*# sourceMappingURL=index.css.map */